/.gitattributes text eol=lf
*.md text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.py text eol=lf
/requirements-controller.txt text eol=lf
/.gitignore text eol=lf
